<suite name="MySuite">
    <parameter name="browser" value="Chrome" />
    <parameter name="domain" value="https://statusdev.quickblox.com" />
    <test name="FormTests" >
        <classes>
        <class name="com.StatusCheckerTests.TeamTests">
            <methods>
                <include name="addValidUser" />
                <include name="addValidUserWithoutPhone" />
                <include name="editUser" />
                <include name="deleteUser" />
                <include name="checkFormValidation" />
            </methods>
        </class>
        </classes>
    </test>
</suite>



