<suite name="MySuite">
    <parameter name="browser" value="Chrome" />
    <parameter name="domain" value="https://statusdev.quickblox.com" />
    <test name="FormTests" >
        <classes>
        <class name="com.StatusCheckerTests.StatusInstancesTests">
            <methods>
                <include name="checkInstanceHealthCheckDisplaying" />
            </methods>
        </class>
        </classes>
    </test>
</suite>



